numpy # for mathematical calculations
matplotlib # to draw graphs
scikit-learn # provide machine learning algorithms
pandas # used to read the data from excel sheets
fastapi #build api
uvicorn # to run fastapi
openpyxl